---
title: Hello Ramon!
---

.row.white
    %p.center-text This is a .row (width: 1366px, margin: 0, padding: 0)

    %hr/

    %h1 This is an h1
    %h2 This is an h2
    %h3 This is an h3
    %h4 This is an h4
    %h5 This is an h5
    %h6 This is an h6
    %p This is a paragraph

.row
    .small-12.columns
        %p .small-12.columns

.row
    .small-3.columns.white
        %p .small-3
    .small-3.columns.blue
        %p.right .small-3
    .small-3.columns.yelloy
        %p .small-3
    .small-3.columns.green
        %p .small-3

.row.darker-gray
    .small-12.columns.gray
        %p column inside row
