---
title: Hello Ramon!
---

.row.white
    %p.center-text This is a .row (width: 1366px, margin: 0, padding: 0)

    %hr/

    %h1 This is an h1
    %h2 This is an h2
    %h3 This is an h3
    %h4 This is an h4
    %h5 This is an h5
    %h6 This is an h6
    %p This is a paragraph

.row
    .phone-12.columns
        %p .phone-12.columns

.row
    .phone-3.columns.white
        %p .phone-3
    .phone-3.columns.blue
        %p.right .phone-3
    .phone-3.columns.yellow
        %p .phone-3
    .phone-3.columns.green
        %p .phone-3

.row.darker-gray
    .phone-12.columns.gray
        %p column inside row
        
.row.show-for-tablet-only
    %p Hola

.row
    .phone-4.columns.white
        %p .phone-4
    .phone-4.columns.blue
        %p.right .phone-4
    .phone-4.columns.yellow
        %p .phone-4

.row
    .phone-6.columns.white
        %p .phone-6
    .phone-6.columns.magenta
        %p.right .phone-6

.row
    .phone-2.columns.white
        %p .phone-2
    .phone-2.columns.blue
        %p.right .phone-2
    .phone-2.columns.yellow
        %p .phone-2
    .phone-2.columns.violet
        %p .phone-2
    .phone-2.columns.yellow
        %p .phone-2
    .phone-2.columns.green
        %p .phone-2