// =============================================================================
// CENTERING
// =========

.center-text
    text-align: center

.center-img
    margin: 0 auto
    display: block


// =============================================================================
// FLOATS & DISPLAY
// ================

.left
    float: left !important

.right
    float: right !important

.clearfix:before, 
.clearfix:after
    content: " "
    display: table

.clearfix:after
    clear: both

.hide
    display: none

.invisible
    visibility: hidden

.antialiased
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale