// =============================================================================
// PLACEHOLDERS
// ============

%table
    content: " "
    display: table

%columnDefault
    padding-left: 16px
    padding-right: 16px
    float: left
    // width: 100%
    +
        .column
            &:last-child
                float: right
            &.end
                float: left
        .columns
            &:last-child
                float: right
            &.end
                float: left


// =============================================================================
// MIXINS
// ======

=row($maxWidth, $width, $margin)
    max-width: $maxWidth
    width: $width
    margin: $margin

=sidePadding($sides)
    padding-right: $sides
    padding-left: $sides

=sideMargin($sides)
    margin-right: $sides
    margin-left: $sides

=push($left)
    position: relative
    right: auto
    left: $left
    
=pull($right)
    position: relative
    right: $right
    left: auto

=device($device)
    
    // push n' pull
    
    .#{$device}-push-0
        +push(0)
    .#{$device}-pull-0
        +pull(0)
    .#{$device}-push-1
        +push(8.33333%)
    .#{$device}-pull-1
        +pull(8.33333%)
    .#{$device}-push-2
        +push(16.66667%)
    .#{$device}-pull-2
        +pull(16.66667%)
    .#{$device}-push-3
        +push(25%)
    .#{$device}-pull-3
        +pull(25%)
    .#{$device}-push-4
        +push(33.33333%)
    .#{$device}-pull-4
        +pull(33.33333%)
    .#{$device}-push-5
        +push(41.66667%)
    .#{$device}-pull-5
        +pull(41.66667%)
    .#{$device}-push-6
        +push(50%)
    .#{$device}-pull-6
        +pull(50%)
    .#{$device}-push-7
        +push(58.33333%)
    .#{$device}-pull-7
        +pull(58.33333%)
    .#{$device}-push-8
        +push(66.66667%)
    .#{$device}-pull-8
        +pull(66.66667%)
    .#{$device}-push-9
        +push(75%)
    .#{$device}-pull-9
        +pull(75%)
    .#{$device}-push-10
        +push(83.33333%)
    .#{$device}-pull-10
        +pull(83.33333%)
    .#{$device}-push-11
        +push(91.66667%)
    .#{$device}-pull-11
        +pull(91.66667%)

    .column,
    .columns
        +sidePadding(16px)
        position: relative
        float: left


    // device columns

    .#{$device}-1
        width: 8.33333%
    .#{$device}-2
        width: 16.66667%
    .#{$device}-3
        width: 25%
    .#{$device}-4
        width: 33.33333%
    .#{$device}-5
        width: 41.66667%
    .#{$device}-6
        width: 50%
    .#{$device}-7
        width: 58.33333%
    .#{$device}-8
        width: 66.66667%
    .#{$device}-9
        width: 75%
    .#{$device}-10
        width: 83.33333%
    .#{$device}-11
        width: 91.66667%
    .#{$device}-12
        width: 100%


    // device offset columns

    .#{$device}-offset-0
        margin-left: 0 !important
    .#{$device}-offset-1
        margin-left: 8.33333% !important
    .#{$device}-offset-2
        margin-left: 16.66667% !important
    .#{$device}-offset-3
        margin-left: 25% !important
    .#{$device}-offset-4
        margin-left: 33.33333% !important
    .#{$device}-offset-5
        margin-left: 41.66667% !important
    .#{$device}-offset-6
        margin-left: 50% !important
    .#{$device}-offset-7
        margin-left: 58.33333% !important
    .#{$device}-offset-8
        margin-left: 66.66667% !important
    .#{$device}-offset-9
        margin-left: 75% !important
    .#{$device}-offset-10
        margin-left: 83.33333% !important
    .#{$device}-offset-11
        margin-left: 91.66667% !important

    .#{$device}-reset-order
        +sideMargin(0)
        float: left
        left: auto
        right: auto

    .column.#{$device}-centered,
    .columns.#{$device}-centered
        +sideMargin(0)
        float: none

    .column.#{$device}-uncentered,
    .columns.#{$device}-uncentered
        +sideMargin(0)
        float: left

    .column.#{$device}-centered:last-child,
    .columns.#{$device}-centered:last-child   
        float: none

    .column.#{$device}-uncentered:last-child,
    .columns.#{$device}-uncentered:last-child 
        float: left

    .column.#{$device}-uncentered.opposite,
    .columns.#{$device}-uncentered.opposite   
        float: right

    .row.#{$device}-collapse > .column,
    .row.#{$device}-collapse > .columns
        +sidePadding(0)

    .row.#{$device}-collapse .row
        +sideMargin(0)

    .row.#{$device}-uncollapse > .column,
    .row.#{$device}-uncollapse > .columns
        +sidePadding(16px)
        float: left

=pushNpull()
    .push-0
        +push(0)
    .pull-0
        +pull(0)
    .push-1
        +push(8.33333%)
    .pull-1
        +pull(8.33333%)
    .push-2
        +push(16.66667%)
    .pull-2
        +pull(16.66667%)
    .push-3
        +push(25%)
    .pull-3
        +pull(25%)
    .push-4
        +push(33.33333%)
    .pull-4
        +pull(33.33333%)
    .push-5
        +push(41.66667%)
    .pull-5
        +pull(41.66667%)
    .push-6
        +push(50%)
    .pull-6
        +pull(50%)
    .push-7
        +push(58.33333%)
    .pull-7
        +pull(58.33333%)
    .push-8
        +push(66.66667%)
    .pull-8
        +pull(66.66667%)
    .push-9
        +push(75%)
    .pull-9
        +pull(75%)
    .push-10
        +push(83.33333%)
    .pull-10
        +pull(83.33333%)
    .push-11
        +push(91.66667%)
    .pull-11
        +pull(91.66667%)

=visibility($position, $height, $width, $overflow, $clip)
    position: $position !important
    height: $height
    width: $width
    overflow: $overflow
    clip: $clip


// =============================================================================
// .row
// ====

.row
    +row(1366px, 100%, 0 auto)

    &:before,
    &:after
        @extend %table
    &:after
        clear: both
    &.collapse > .column,
    &.collapse > .columns
        +sidePadding(0)
    &.collapse
        .row
            +sideMargin(0)
    .row
        +row(none, auto, 0 -16px)

        &:before,
        &:after
            @extend %table
        &:after
            clear: both
        &.collapse
            +row(none, auto, 0 auto)
            &:before,
            &:after
                @extend %table
            &:after
                clear: both


// =============================================================================
// .column, .columns
// =================

.column
    @extend %columnDefault

.columns
    @extend %columnDefault


// =============================================================================
// phone: from 320px to 599px
// ==========================

@media only screen
    +device(phone)


// =============================================================================
// tablet: from 600px to 1023px
// ============================

@media only screen and (min-width: 600px)
    +device(tablet)


// =============================================================================
// laptop: from 1024px to 1439px
// =============================

@media only screen and (min-width: 1024px)
    +device(laptop)
    +pushNpull


// =============================================================================
// desktop: from 1440px to 1919px
// ==============================

@media only screen and (min-width: 1440px)
    +device(desktop)
    +pushNpull


// =============================================================================
// hd: from 1920px to 2559px
// =========================

@media only screen and (min-width: 1920px)
    +device(hd)
    +pushNpull


// =============================================================================
// ultra-hd: from 2560px +
// =======================

@media only screen and (min-width: 2560px)
    +device(ultra-hd)
    +pushNpull


// =============================================================================
// VISIBILITY
// ==========

@media only screen 
    .show-for-phone-only,
    .show-for-phone-up,
    .show-for-phone,
    .show-for-phone-down,
    .hide-for-tablet-only,
    .hide-for-tablet-up,
    .hide-for-tablet,
    .show-for-tablet-down,
    .hide-for-laptop-only,
    .hide-for-laptop-up,
    .hide-for-laptop,
    .show-for-laptop-down,
    .hide-for-desktop-only,
    .hide-for-desktop-up,
    .hide-for-desktop,
    .show-for-desktop-down,
    .hide-for-hd-only,
    .hide-for-hd-up,
    .hide-for-hd,
    .show-for-hd-down 
        display: inherit !important

    .hide-for-phone-only,
    .hide-for-phone-up,
    .hide-for-phone,
    .hide-for-phone-down,
    .show-for-tablet-only,
    .show-for-tablet-up,
    .show-for-tablet,
    .hide-for-tablet-down,
    .show-for-laptop-only,
    .show-for-laptop-up,
    .show-for-laptop,
    .hide-for-laptop-down,
    .show-for-desktop-only,
    .show-for-desktop-up,
    .show-for-desktop,
    .hide-for-desktop-down,
    .show-for-hd-only,
    .show-for-hd-up,
    .show-for-hd,
    .hide-for-hd-down 
        display: none !important

    .visible-for-phone-only,
    .visible-for-phone-up,
    .visible-for-phone,
    .visible-for-phone-down,
    .hidden-for-tablet-only,
    .hidden-for-tablet-up,
    .hidden-for-tablet,
    .visible-for-tablet-down,
    .hidden-for-laptop-only,
    .hidden-for-laptop-up,
    .hidden-for-laptop,
    .visible-for-laptop-down,
    .hidden-for-desktop-only,
    .hidden-for-desktop-up,
    .hidden-for-desktop,
    .visible-for-desktop-down,
    .hidden-for-hd-only,
    .hidden-for-hd-up,
    .hidden-for-hd,
    .visible-for-hd-down 
        +visibility(static, auto, auto, visible, auto)

    .hidden-for-phone-only,
    .hidden-for-phone-up,
    .hidden-for-phone,
    .hidden-for-phone-down,
    .visible-for-tablet-only,
    .visible-for-tablet-up,
    .visible-for-tablet,
    .hidden-for-tablet-down,
    .visible-for-laptop-only,
    .visible-for-laptop-up,
    .visible-for-laptop,
    .hidden-for-laptop-down,
    .visible-for-desktop-only,
    .visible-for-desktop-up,
    .visible-for-desktop,
    .hidden-for-desktop-down,
    .visible-for-hd-only,
    .visible-for-hd-up,
    .visible-for-hd,
    .hidden-for-hd-down 
        +visibility(absolute, 1px, 1px, hidden, rect(1px, 1px, 1px, 1px))

    table 
        &.show-for-phone-only,
        &.show-for-phone-up,
        &.show-for-phone,
        &.show-for-phone-down,
        &.hide-for-tablet-only,
        &.hide-for-tablet-up,
        &.hide-for-tablet,
        &.show-for-tablet-down,
        &.hide-for-laptop-only,
        &.hide-for-laptop-up,
        &.hide-for-laptop,
        &.show-for-laptop-down,
        &.hide-for-desktop-only,
        &.hide-for-desktop-up,
        &.hide-for-desktop,
        &.show-for-desktop-down,
        &.hide-for-hd-only,
        &.hide-for-hd-up,
        &.hide-for-hd,
        &.show-for-hd-down 
            display: table !important

    thead 
        &.show-for-phone-only,
        &.show-for-phone-up,
        &.show-for-phone,
        &.show-for-phone-down,
        &.hide-for-tablet-only,
        &.hide-for-tablet-up,
        &.hide-for-tablet,
        &.show-for-tablet-down,
        &.hide-for-laptop-only,
        &.hide-for-laptop-up,
        &.hide-for-laptop,
        &.show-for-laptop-down,
        &.hide-for-desktop-only,
        &.hide-for-desktop-up,
        &.hide-for-desktop,
        &.show-for-desktop-down,
        &.hide-for-hd-only,
        &.hide-for-hd-up,
        &.hide-for-hd,
        &.show-for-hd-down 
            display: table-header-group !important

    tbody 
        &.show-for-phone-only,
        &.show-for-phone-up,
        &.show-for-phone,
        &.show-for-phone-down,
        &.hide-for-tablet-only,
        &.hide-for-tablet-up,
        &.hide-for-tablet,
        &.show-for-tablet-down,
        &.hide-for-laptop-only,
        &.hide-for-laptop-up,
        &.hide-for-laptop,
        &.show-for-laptop-down,
        &.hide-for-desktop-only,
        &.hide-for-desktop-up,
        &.hide-for-desktop,
        &.show-for-desktop-down,
        &.hide-for-hd-only,
        &.hide-for-hd-up,
        &.hide-for-hd,
        &.show-for-hd-down 
            display: table-row-group !important

    tr 
        &.show-for-phone-only,
        &.show-for-phone-up,
        &.show-for-phone,
        &.show-for-phone-down,
        &.hide-for-tablet-only,
        &.hide-for-tablet-up,
        &.hide-for-tablet,
        &.show-for-tablet-down,
        &.hide-for-laptop-only,
        &.hide-for-laptop-up,
        &.hide-for-laptop,
        &.show-for-laptop-down,
        &.hide-for-desktop-only,
        &.hide-for-desktop-up,
        &.hide-for-desktop,
        &.show-for-desktop-down,
        &.hide-for-hd-only,
        &.hide-for-hd-up,
        &.hide-for-hd,
        &.show-for-hd-down 
            display: table-row

    th 
        &.show-for-phone-only,
        &.show-for-phone-up,
        &.show-for-phone,
        &.show-for-phone-down,
        &.hide-for-tablet-only,
        &.hide-for-tablet-up,
        &.hide-for-tablet,
        &.show-for-tablet-down,
        &.hide-for-laptop-only,
        &.hide-for-laptop-up,
        &.hide-for-laptop,
        &.show-for-laptop-down,
        &.hide-for-desktop-only,
        &.hide-for-desktop-up,
        &.hide-for-desktop,
        &.show-for-desktop-down,
        &.hide-for-hd-only,
        &.hide-for-hd-up,
        &.hide-for-hd,
        &.show-for-hd-down 
            display: table-cell !important

    td 
        &.show-for-phone-only,
        &.show-for-phone-up,
        &.show-for-phone,
        &.show-for-phone-down,
        &.hide-for-tablet-only,
        &.hide-for-tablet-up,
        &.hide-for-tablet,
        &.show-for-tablet-down,
        &.hide-for-laptop-only,
        &.hide-for-laptop-up,
        &.hide-for-laptop,
        &.show-for-laptop-down,
        &.hide-for-desktop-only,
        &.hide-for-desktop-up,
        &.hide-for-desktop,
        &.show-for-desktop-down,
        &.hide-for-hd-only,
        &.hide-for-hd-up,
        &.hide-for-hd,
        &.show-for-hd-down 
            display: table-cell !important


@media only screen and(min-width: 600px) 
    .hide-for-phone-only,
    .show-for-phone-up,
    .hide-for-phone,
    .hide-for-phone-down,
    .show-for-tablet-only,
    .show-for-tablet-up,
    .show-for-tablet,
    .show-for-tablet-down,
    .hide-for-laptop-only,
    .hide-for-laptop-up,
    .hide-for-laptop,
    .show-for-laptop-down,
    .hide-for-desktop-only,
    .hide-for-desktop-up,
    .hide-for-desktop,
    .show-for-desktop-down,
    .hide-for-hd-only,
    .hide-for-hd-up,
    .hide-for-hd,
    .show-for-hd-down 
        display: inherit !important

    .show-for-phone-only,
    .hide-for-phone-up,
    .show-for-phone,
    .show-for-phone-down,
    .hide-for-tablet-only,
    .hide-for-tablet-up,
    .hide-for-tablet,
    .hide-for-tablet-down,
    .show-for-laptop-only,
    .show-for-laptop-up,
    .show-for-laptop,
    .hide-for-laptop-down,
    .show-for-desktop-only,
    .show-for-desktop-up,
    .show-for-desktop,
    .hide-for-desktop-down,
    .show-for-hd-only,
    .show-for-hd-up,
    .show-for-hd,
    .hide-for-hd-down 
        display: none !important

    .hidden-for-phone-only,
    .visible-for-phone-up,
    .hidden-for-phone,
    .hidden-for-phone-down,
    .visible-for-tablet-only,
    .visible-for-tablet-up,
    .visible-for-tablet,
    .visible-for-tablet-down,
    .hidden-for-laptop-only,
    .hidden-for-laptop-up,
    .hidden-for-laptop,
    .visible-for-laptop-down,
    .hidden-for-desktop-only,
    .hidden-for-desktop-up,
    .hidden-for-desktop,
    .visible-for-desktop-down,
    .hidden-for-hd-only,
    .hidden-for-hd-up,
    .hidden-for-hd,
    .visible-for-hd-down
        +visibility(static, auto, auto, visible, auto)

    .visible-for-phone-only,
    .hidden-for-phone-up,
    .visible-for-phone,
    .visible-for-phone-down,
    .hidden-for-tablet-only,
    .hidden-for-tablet-up,
    .hidden-for-tablet,
    .hidden-for-tablet-down,
    .visible-for-laptop-only,
    .visible-for-laptop-up,
    .visible-for-laptop,
    .hidden-for-laptop-down,
    .visible-for-desktop-only,
    .visible-for-desktop-up,
    .visible-for-desktop,
    .hidden-for-desktop-down,
    .visible-for-hd-only,
    .visible-for-hd-up,
    .visible-for-hd,
    .hidden-for-hd-down 
        +visibility(absolute, 1px, 1px, hidden, rect(1px, 1px, 1px, 1px))

    table 
        &.hide-for-phone-only,
        &.show-for-phone-up,
        &.hide-for-phone,
        &.hide-for-phone-down,
        &.show-for-tablet-only,
        &.show-for-tablet-up,
        &.show-for-tablet,
        &.show-for-tablet-down,
        &.hide-for-laptop-only,
        &.hide-for-laptop-up,
        &.hide-for-laptop,
        &.show-for-laptop-down,
        &.hide-for-desktop-only,
        &.hide-for-desktop-up,
        &.hide-for-desktop,
        &.show-for-desktop-down,
        &.hide-for-hd-only,
        &.hide-for-hd-up,
        &.hide-for-hd,
        &.show-for-hd-down 
            display: table !important

    thead 
        &.hide-for-phone-only,
        &.show-for-phone-up,
        &.hide-for-phone,
        &.hide-for-phone-down,
        &.show-for-tablet-only,
        &.show-for-tablet-up,
        &.show-for-tablet,
        &.show-for-tablet-down,
        &.hide-for-laptop-only,
        &.hide-for-laptop-up,
        &.hide-for-laptop,
        &.show-for-laptop-down,
        &.hide-for-desktop-only,
        &.hide-for-desktop-up,
        &.hide-for-desktop,
        &.show-for-desktop-down,
        &.hide-for-hd-only,
        &.hide-for-hd-up,
        &.hide-for-hd,
        &.show-for-hd-down 
            display: table-header-group !important

    tbody 
        &.hide-for-phone-only,
        &.show-for-phone-up,
        &.hide-for-phone,
        &.hide-for-phone-down,
        &.show-for-tablet-only,
        &.show-for-tablet-up,
        &.show-for-tablet,
        &.show-for-tablet-down,
        &.hide-for-laptop-only,
        &.hide-for-laptop-up,
        &.hide-for-laptop,
        &.show-for-laptop-down,
        &.hide-for-desktop-only,
        &.hide-for-desktop-up,
        &.hide-for-desktop,
        &.show-for-desktop-down,
        &.hide-for-hd-only,
        &.hide-for-hd-up,
        &.hide-for-hd,
        &.show-for-hd-down 
            display: table-row-group !important

    tr 
        &.hide-for-phone-only,
        &.show-for-phone-up,
        &.hide-for-phone,
        &.hide-for-phone-down,
        &.show-for-tablet-only,
        &.show-for-tablet-up,
        &.show-for-tablet,
        &.show-for-tablet-down,
        &.hide-for-laptop-only,
        &.hide-for-laptop-up,
        &.hide-for-laptop,
        &.show-for-laptop-down,
        &.hide-for-desktop-only,
        &.hide-for-desktop-up,
        &.hide-for-desktop,
        &.show-for-desktop-down,
        &.hide-for-hd-only,
        &.hide-for-hd-up,
        &.hide-for-hd,
        &.show-for-hd-down 
            display: table-row

    th 
        &.hide-for-phone-only,
        &.show-for-phone-up,
        &.hide-for-phone,
        &.hide-for-phone-down,
        &.show-for-tablet-only,
        &.show-for-tablet-up,
        &.show-for-tablet,
        &.show-for-tablet-down,
        &.hide-for-laptop-only,
        &.hide-for-laptop-up,
        &.hide-for-laptop,
        &.show-for-laptop-down,
        &.hide-for-desktop-only,
        &.hide-for-desktop-up,
        &.hide-for-desktop,
        &.show-for-desktop-down,
        &.hide-for-hd-only,
        &.hide-for-hd-up,
        &.hide-for-hd,
        &.show-for-hd-down 
            display: table-cell !important

    td 
        &.hide-for-phone-only,
        &.show-for-phone-up,
        &.hide-for-phone,
        &.hide-for-phone-down,
        &.show-for-tablet-only,
        &.show-for-tablet-up,
        &.show-for-tablet,
        &.show-for-tablet-down,
        &.hide-for-laptop-only,
        &.hide-for-laptop-up,
        &.hide-for-laptop,
        &.show-for-laptop-down,
        &.hide-for-desktop-only,
        &.hide-for-desktop-up,
        &.hide-for-desktop,
        &.show-for-desktop-down,
        &.hide-for-hd-only,
        &.hide-for-hd-up,
        &.hide-for-hd,
        &.show-for-hd-down 
            display: table-cell !important


@media only screen and(min-width: 1024px) 
    .hide-for-phone-only,
    .show-for-phone-up,
    .hide-for-phone,
    .hide-for-phone-down,
    .hide-for-tablet-only,
    .show-for-tablet-up,
    .hide-for-tablet,
    .hide-for-tablet-down,
    .show-for-laptop-only,
    .show-for-laptop-up,
    .show-for-laptop,
    .show-for-laptop-down,
    .hide-for-desktop-only,
    .hide-for-desktop-up,
    .hide-for-desktop,
    .show-for-desktop-down,
    .hide-for-hd-only,
    .hide-for-hd-up,
    .hide-for-hd,
    .show-for-hd-down 
        display: inherit !important

    .show-for-phone-only,
    .hide-for-phone-up,
    .show-for-phone,
    .show-for-phone-down,
    .show-for-tablet-only,
    .hide-for-tablet-up,
    .show-for-tablet,
    .show-for-tablet-down,
    .hide-for-laptop-only,
    .hide-for-laptop-up,
    .hide-for-laptop,
    .hide-for-laptop-down,
    .show-for-desktop-only,
    .show-for-desktop-up,
    .show-for-desktop,
    .hide-for-desktop-down,
    .show-for-hd-only,
    .show-for-hd-up,
    .show-for-hd,
    .hide-for-hd-down 
        display: none !important

    .hidden-for-phone-only,
    .visible-for-phone-up,
    .hidden-for-phone,
    .hidden-for-phone-down,
    .hidden-for-tablet-only,
    .visible-for-tablet-up,
    .hidden-for-tablet,
    .hidden-for-tablet-down,
    .visible-for-laptop-only,
    .visible-for-laptop-up,
    .visible-for-laptop,
    .visible-for-laptop-down,
    .hidden-for-desktop-only,
    .hidden-for-desktop-up,
    .hidden-for-desktop,
    .visible-for-desktop-down,
    .hidden-for-hd-only,
    .hidden-for-hd-up,
    .hidden-for-hd,
    .visible-for-hd-down
        +visibility(static, auto, auto, visible, auto)
    .visible-for-phone-only,
    .hidden-for-phone-up,
    .visible-for-phone,
    .visible-for-phone-down,
    .visible-for-tablet-only,
    .hidden-for-tablet-up,
    .visible-for-tablet,
    .visible-for-tablet-down,
    .hidden-for-laptop-only,
    .hidden-for-laptop-up,
    .hidden-for-laptop,
    .hidden-for-laptop-down,
    .visible-for-desktop-only,
    .visible-for-desktop-up,
    .visible-for-desktop,
    .hidden-for-desktop-down,
    .visible-for-hd-only,
    .visible-for-hd-up,
    .visible-for-hd,
    .hidden-for-hd-down 
        +visibility(absolute, 1px, 1px, hidden, rect(1px, 1px, 1px, 1px))

    table 
        &.hide-for-phone-only,
        &.show-for-phone-up,
        &.hide-for-phone,
        &.hide-for-phone-down,
        &.hide-for-tablet-only,
        &.show-for-tablet-up,
        &.hide-for-tablet,
        &.hide-for-tablet-down,
        &.show-for-laptop-only,
        &.show-for-laptop-up,
        &.show-for-laptop,
        &.show-for-laptop-down,
        &.hide-for-desktop-only,
        &.hide-for-desktop-up,
        &.hide-for-desktop,
        &.show-for-desktop-down,
        &.hide-for-hd-only,
        &.hide-for-hd-up,
        &.hide-for-hd,
        &.show-for-hd-down 
            display: table !important

    thead 
        &.hide-for-phone-only,
        &.show-for-phone-up,
        &.hide-for-phone,
        &.hide-for-phone-down,
        &.hide-for-tablet-only,
        &.show-for-tablet-up,
        &.hide-for-tablet,
        &.hide-for-tablet-down,
        &.show-for-laptop-only,
        &.show-for-laptop-up,
        &.show-for-laptop,
        &.show-for-laptop-down,
        &.hide-for-desktop-only,
        &.hide-for-desktop-up,
        &.hide-for-desktop,
        &.show-for-desktop-down,
        &.hide-for-hd-only,
        &.hide-for-hd-up,
        &.hide-for-hd,
        &.show-for-hd-down 
            display: table-header-group !important

    tbody 
        &.hide-for-phone-only,
        &.show-for-phone-up,
        &.hide-for-phone,
        &.hide-for-phone-down,
        &.hide-for-tablet-only,
        &.show-for-tablet-up,
        &.hide-for-tablet,
        &.hide-for-tablet-down,
        &.show-for-laptop-only,
        &.show-for-laptop-up,
        &.show-for-laptop,
        &.show-for-laptop-down,
        &.hide-for-desktop-only,
        &.hide-for-desktop-up,
        &.hide-for-desktop,
        &.show-for-desktop-down,
        &.hide-for-hd-only,
        &.hide-for-hd-up,
        &.hide-for-hd,
        &.show-for-hd-down 
            display: table-row-group !important

    tr 
        &.hide-for-phone-only,
        &.show-for-phone-up,
        &.hide-for-phone,
        &.hide-for-phone-down,
        &.hide-for-tablet-only,
        &.show-for-tablet-up,
        &.hide-for-tablet,
        &.hide-for-tablet-down,
        &.show-for-laptop-only,
        &.show-for-laptop-up,
        &.show-for-laptop,
        &.show-for-laptop-down,
        &.hide-for-desktop-only,
        &.hide-for-desktop-up,
        &.hide-for-desktop,
        &.show-for-desktop-down,
        &.hide-for-hd-only,
        &.hide-for-hd-up,
        &.hide-for-hd,
        &.show-for-hd-down 
            display: table-row

    th 
        &.hide-for-phone-only,
        &.show-for-phone-up,
        &.hide-for-phone,
        &.hide-for-phone-down,
        &.hide-for-tablet-only,
        &.show-for-tablet-up,
        &.hide-for-tablet,
        &.hide-for-tablet-down,
        &.show-for-laptop-only,
        &.show-for-laptop-up,
        &.show-for-laptop,
        &.show-for-laptop-down,
        &.hide-for-desktop-only,
        &.hide-for-desktop-up,
        &.hide-for-desktop,
        &.show-for-desktop-down,
        &.hide-for-hd-only,
        &.hide-for-hd-up,
        &.hide-for-hd,
        &.show-for-hd-down 
            display: table-cell !important

    td 
        &.hide-for-phone-only,
        &.show-for-phone-up,
        &.hide-for-phone,
        &.hide-for-phone-down,
        &.hide-for-tablet-only,
        &.show-for-tablet-up,
        &.hide-for-tablet,
        &.hide-for-tablet-down,
        &.show-for-laptop-only,
        &.show-for-laptop-up,
        &.show-for-laptop,
        &.show-for-laptop-down,
        &.hide-for-desktop-only,
        &.hide-for-desktop-up,
        &.hide-for-desktop,
        &.show-for-desktop-down,
        &.hide-for-hd-only,
        &.hide-for-hd-up,
        &.hide-for-hd,
        &.show-for-hd-down 
            display: table-cell !important



@media only screen and(min-width: 1440px) 
    .hide-for-phone-only,
    .show-for-phone-up,
    .hide-for-phone,
    .hide-for-phone-down,
    .hide-for-tablet-only,
    .show-for-tablet-up,
    .hide-for-tablet,
    .hide-for-tablet-down,
    .hide-for-laptop-only,
    .show-for-laptop-up,
    .hide-for-laptop,
    .hide-for-laptop-down,
    .show-for-desktop-only,
    .show-for-desktop-up,
    .show-for-desktop,
    .show-for-desktop-down,
    .hide-for-hd-only,
    .hide-for-hd-up,
    .hide-for-hd,
    .show-for-hd-down 
        display: inherit !important

    .show-for-phone-only,
    .hide-for-phone-up,
    .show-for-phone,
    .show-for-phone-down,
    .show-for-tablet-only,
    .hide-for-tablet-up,
    .show-for-tablet,
    .show-for-tablet-down,
    .show-for-laptop-only,
    .hide-for-laptop-up,
    .show-for-laptop,
    .show-for-laptop-down,
    .hide-for-desktop-only,
    .hide-for-desktop-up,
    .hide-for-desktop,
    .hide-for-desktop-down,
    .show-for-hd-only,
    .show-for-hd-up,
    .show-for-hd,
    .hide-for-hd-down 
        display: none !important

    .hidden-for-phone-only,
    .visible-for-phone-up,
    .hidden-for-phone,
    .hidden-for-phone-down,
    .hidden-for-tablet-only,
    .visible-for-tablet-up,
    .hidden-for-tablet,
    .hidden-for-tablet-down,
    .hidden-for-laptop-only,
    .visible-for-laptop-up,
    .hidden-for-laptop,
    .hidden-for-laptop-down,
    .visible-for-desktop-only,
    .visible-for-desktop-up,
    .visible-for-desktop,
    .visible-for-desktop-down,
    .hidden-for-hd-only,
    .hidden-for-hd-up,
    .hidden-for-hd,
    .visible-for-hd-down 
        +visibility(static, auto, auto, visible, auto)

    .visible-for-phone-only,
    .hidden-for-phone-up,
    .visible-for-phone,
    .visible-for-phone-down,
    .visible-for-tablet-only,
    .hidden-for-tablet-up,
    .visible-for-tablet,
    .visible-for-tablet-down,
    .visible-for-laptop-only,
    .hidden-for-laptop-up,
    .visible-for-laptop,
    .visible-for-laptop-down,
    .hidden-for-desktop-only,
    .hidden-for-desktop-up,
    .hidden-for-desktop,
    .hidden-for-desktop-down,
    .visible-for-hd-only,
    .visible-for-hd-up,
    .visible-for-hd,
    .hidden-for-hd-down 
        +visibility(absolute, 1px, 1px, hidden, rect(1px, 1px, 1px, 1px))

    table 
        &.hide-for-phone-only,
        &.show-for-phone-up,
        &.hide-for-phone,
        &.hide-for-phone-down,
        &.hide-for-tablet-only,
        &.show-for-tablet-up,
        &.hide-for-tablet,
        &.hide-for-tablet-down,
        &.hide-for-laptop-only,
        &.show-for-laptop-up,
        &.hide-for-laptop,
        &.hide-for-laptop-down,
        &.show-for-desktop-only,
        &.show-for-desktop-up,
        &.show-for-desktop,
        &.show-for-desktop-down,
        &.hide-for-hd-only,
        &.hide-for-hd-up,
        &.hide-for-hd,
        &.show-for-hd-down 
            display: table !important

    thead 
        &.hide-for-phone-only,
        &.show-for-phone-up,
        &.hide-for-phone,
        &.hide-for-phone-down,
        &.hide-for-tablet-only,
        &.show-for-tablet-up,
        &.hide-for-tablet,
        &.hide-for-tablet-down,
        &.hide-for-laptop-only,
        &.show-for-laptop-up,
        &.hide-for-laptop,
        &.hide-for-laptop-down,
        &.show-for-desktop-only,
        &.show-for-desktop-up,
        &.show-for-desktop,
        &.show-for-desktop-down,
        &.hide-for-hd-only,
        &.hide-for-hd-up,
        &.hide-for-hd,
        &.show-for-hd-down 
            display: table-header-group !important

    tbody 
        &.hide-for-phone-only,
        &.show-for-phone-up,
        &.hide-for-phone,
        &.hide-for-phone-down,
        &.hide-for-tablet-only,
        &.show-for-tablet-up,
        &.hide-for-tablet,
        &.hide-for-tablet-down,
        &.hide-for-laptop-only,
        &.show-for-laptop-up,
        &.hide-for-laptop,
        &.hide-for-laptop-down,
        &.show-for-desktop-only,
        &.show-for-desktop-up,
        &.show-for-desktop,
        &.show-for-desktop-down,
        &.hide-for-hd-only,
        &.hide-for-hd-up,
        &.hide-for-hd,
        &.show-for-hd-down 
            display: table-row-group !important

    tr 
        &.hide-for-phone-only,
        &.show-for-phone-up,
        &.hide-for-phone,
        &.hide-for-phone-down,
        &.hide-for-tablet-only,
        &.show-for-tablet-up,
        &.hide-for-tablet,
        &.hide-for-tablet-down,
        &.hide-for-laptop-only,
        &.show-for-laptop-up,
        &.hide-for-laptop,
        &.hide-for-laptop-down,
        &.show-for-desktop-only,
        &.show-for-desktop-up,
        &.show-for-desktop,
        &.show-for-desktop-down,
        &.hide-for-hd-only,
        &.hide-for-hd-up,
        &.hide-for-hd,
        &.show-for-hd-down 
            display: table-row

    th 
        &.hide-for-phone-only,
        &.show-for-phone-up,
        &.hide-for-phone,
        &.hide-for-phone-down,
        &.hide-for-tablet-only,
        &.show-for-tablet-up,
        &.hide-for-tablet,
        &.hide-for-tablet-down,
        &.hide-for-laptop-only,
        &.show-for-laptop-up,
        &.hide-for-laptop,
        &.hide-for-laptop-down,
        &.show-for-desktop-only,
        &.show-for-desktop-up,
        &.show-for-desktop,
        &.show-for-desktop-down,
        &.hide-for-hd-only,
        &.hide-for-hd-up,
        &.hide-for-hd,
        &.show-for-hd-down 
            display: table-cell !important

    td 
        &.hide-for-phone-only,
        &.show-for-phone-up,
        &.hide-for-phone,
        &.hide-for-phone-down,
        &.hide-for-tablet-only,
        &.show-for-tablet-up,
        &.hide-for-tablet,
        &.hide-for-tablet-down,
        &.hide-for-laptop-only,
        &.show-for-laptop-up,
        &.hide-for-laptop,
        &.hide-for-laptop-down,
        &.show-for-desktop-only,
        &.show-for-desktop-up,
        &.show-for-desktop,
        &.show-for-desktop-down,
        &.hide-for-hd-only,
        &.hide-for-hd-up,
        &.hide-for-hd,
        &.show-for-hd-down 
            display: table-cell !important


@media only screen and(min-width: 1920px) 
    .hide-for-phone-only,
    .show-for-phone-up,
    .hide-for-phone,
    .hide-for-phone-down,
    .hide-for-tablet-only,
    .show-for-tablet-up,
    .hide-for-tablet,
    .hide-for-tablet-down,
    .hide-for-laptop-only,
    .show-for-laptop-up,
    .hide-for-laptop,
    .hide-for-laptop-down,
    .hide-for-desktop-only,
    .show-for-desktop-up,
    .hide-for-desktop,
    .hide-for-desktop-down,
    .show-for-hd-only,
    .show-for-hd-up,
    .show-for-hd,
    .show-for-hd-down 
        display: inherit !important

    .show-for-phone-only,
    .hide-for-phone-up,
    .show-for-phone,
    .show-for-phone-down,
    .show-for-tablet-only,
    .hide-for-tablet-up,
    .show-for-tablet,
    .show-for-tablet-down,
    .show-for-laptop-only,
    .hide-for-laptop-up,
    .show-for-laptop,
    .show-for-laptop-down,
    .show-for-desktop-only,
    .hide-for-desktop-up,
    .show-for-desktop,
    .show-for-desktop-down,
    .hide-for-hd-only,
    .hide-for-hd-up,
    .hide-for-hd,
    .hide-for-hd-down 
        display: none !important

    .hidden-for-phone-only,
    .visible-for-phone-up,
    .hidden-for-phone,
    .hidden-for-phone-down,
    .hidden-for-tablet-only,
    .visible-for-tablet-up,
    .hidden-for-tablet,
    .hidden-for-tablet-down,
    .hidden-for-laptop-only,
    .visible-for-laptop-up,
    .hidden-for-laptop,
    .hidden-for-laptop-down,
    .hidden-for-desktop-only,
    .visible-for-desktop-up,
    .hidden-for-desktop,
    .hidden-for-desktop-down,
    .visible-for-hd-only,
    .visible-for-hd-up,
    .visible-for-hd,
    .visible-for-hd-down 
        +visibility(static, auto, auto, visible, auto)

    .visible-for-phone-only,
    .hidden-for-phone-up,
    .visible-for-phone,
    .visible-for-phone-down,
    .visible-for-tablet-only,
    .hidden-for-tablet-up,
    .visible-for-tablet,
    .visible-for-tablet-down,
    .visible-for-laptop-only,
    .hidden-for-laptop-up,
    .visible-for-laptop,
    .visible-for-laptop-down,
    .visible-for-desktop-only,
    .hidden-for-desktop-up,
    .visible-for-desktop,
    .visible-for-desktop-down,
    .hidden-for-hd-only,
    .hidden-for-hd-up,
    .hidden-for-hd,
    .hidden-for-hd-down 
        +visibility(absolute, 1px, 1px, hidden, rect(1px, 1px, 1px, 1px))

    table 
        &.hide-for-phone-only,
        &.show-for-phone-up,
        &.hide-for-phone,
        &.hide-for-phone-down,
        &.hide-for-tablet-only,
        &.show-for-tablet-up,
        &.hide-for-tablet,
        &.hide-for-tablet-down,
        &.hide-for-laptop-only,
        &.show-for-laptop-up,
        &.hide-for-laptop,
        &.hide-for-laptop-down,
        &.hide-for-desktop-only,
        &.show-for-desktop-up,
        &.hide-for-desktop,
        &.hide-for-desktop-down,
        &.show-for-hd-only,
        &.show-for-hd-up,
        &.show-for-hd,
        &.show-for-hd-down 
            display: table !important

    thead 
        &.hide-for-phone-only,
        &.show-for-phone-up,
        &.hide-for-phone,
        &.hide-for-phone-down,
        &.hide-for-tablet-only,
        &.show-for-tablet-up,
        &.hide-for-tablet,
        &.hide-for-tablet-down,
        &.hide-for-laptop-only,
        &.show-for-laptop-up,
        &.hide-for-laptop,
        &.hide-for-laptop-down,
        &.hide-for-desktop-only,
        &.show-for-desktop-up,
        &.hide-for-desktop,
        &.hide-for-desktop-down,
        &.show-for-hd-only,
        &.show-for-hd-up,
        &.show-for-hd,
        &.show-for-hd-down 
            display: table-header-group !important

    tbody 
        &.hide-for-phone-only,
        &.show-for-phone-up,
        &.hide-for-phone,
        &.hide-for-phone-down,
        &.hide-for-tablet-only,
        &.show-for-tablet-up,
        &.hide-for-tablet,
        &.hide-for-tablet-down,
        &.hide-for-laptop-only,
        &.show-for-laptop-up,
        &.hide-for-laptop,
        &.hide-for-laptop-down,
        &.hide-for-desktop-only,
        &.show-for-desktop-up,
        &.hide-for-desktop,
        &.hide-for-desktop-down,
        &.show-for-hd-only,
        &.show-for-hd-up,
        &.show-for-hd,
        &.show-for-hd-down 
            display: table-row-group !important

    tr 
        &.hide-for-phone-only,
        &.show-for-phone-up,
        &.hide-for-phone,
        &.hide-for-phone-down,
        &.hide-for-tablet-only,
        &.show-for-tablet-up,
        &.hide-for-tablet,
        &.hide-for-tablet-down,
        &.hide-for-laptop-only,
        &.show-for-laptop-up,
        &.hide-for-laptop,
        &.hide-for-laptop-down,
        &.hide-for-desktop-only,
        &.show-for-desktop-up,
        &.hide-for-desktop,
        &.hide-for-desktop-down,
        &.show-for-hd-only,
        &.show-for-hd-up,
        &.show-for-hd,
        &.show-for-hd-down 
            display: table-row

    th 
        &.hide-for-phone-only,
        &.show-for-phone-up,
        &.hide-for-phone,
        &.hide-for-phone-down,
        &.hide-for-tablet-only,
        &.show-for-tablet-up,
        &.hide-for-tablet,
        &.hide-for-tablet-down,
        &.hide-for-laptop-only,
        &.show-for-laptop-up,
        &.hide-for-laptop,
        &.hide-for-laptop-down,
        &.hide-for-desktop-only,
        &.show-for-desktop-up,
        &.hide-for-desktop,
        &.hide-for-desktop-down,
        &.show-for-hd-only,
        &.show-for-hd-up,
        &.show-for-hd,
        &.show-for-hd-down 
            display: table-cell !important

    td 
        &.hide-for-phone-only,
        &.show-for-phone-up,
        &.hide-for-phone,
        &.hide-for-phone-down,
        &.hide-for-tablet-only,
        &.show-for-tablet-up,
        &.hide-for-tablet,
        &.hide-for-tablet-down,
        &.hide-for-laptop-only,
        &.show-for-laptop-up,
        &.hide-for-laptop,
        &.hide-for-laptop-down,
        &.hide-for-desktop-only,
        &.show-for-desktop-up,
        &.hide-for-desktop,
        &.hide-for-desktop-down,
        &.show-for-hd-only,
        &.show-for-hd-up,
        &.show-for-hd,
        &.show-for-hd-down 
            display: table-cell !important


.show-for-landscape,
.hide-for-portrait 
    display: inherit !important

.hide-for-landscape,
.show-for-portrait 
    display: none !important

table 
    &.hide-for-landscape,
    &.show-for-portrait,
    &.hide-for-touch 
        display: table !important


thead 
    &.hide-for-landscape,
    &.show-for-portrait,
    &.hide-for-touch 
        display: table-header-group !important

tbody 
    &.hide-for-landscape,
    &.show-for-portrait,
    &.hide-for-touch 
        display: table-row-group !important


tr 
    &.hide-for-landscape,
    &.show-for-portrait,
    &.hide-for-touch 
        display: table-row !important

td 
    &.hide-for-landscape,
    &.show-for-portrait,
    &.hide-for-touch 
        display: table-cell !important

th 
    &.hide-for-landscape,
    &.show-for-portrait,
    &.hide-for-touch 
        display: table-cell !important

@media only screen and(orientation: landscape) 
    .show-for-landscape,
    .hide-for-portrait 
        display: inherit !important

    .hide-for-landscape,
    .show-for-portrait 
        display: none !important

    table 
        &.show-for-landscape,
        &.hide-for-portrait 
            display: table !important

    thead 
        &.show-for-landscape,
        &.hide-for-portrait 
            display: table-header-group !important

    tbody 
        &.show-for-landscape,
        &.hide-for-portrait 
            display: table-row-group !important

    tr 
        &.show-for-landscape,
        &.hide-for-portrait 
            display: table-row !important

    td 
        &.show-for-landscape,
        &.hide-for-portrait 
            display: table-cell !important

    th 
        &.show-for-landscape,
        &.hide-for-portrait 
            display: table-cell !important



@media only screen and(orientation: portrait) 
    .show-for-portrait,
    .hide-for-landscape 
        display: inherit !important

    .hide-for-portrait,
    .show-for-landscape 
        display: none !important

    table 
        &.show-for-portrait,
        &.hide-for-landscape 
            display: table !important

    thead 
        &.show-for-portrait,
        &.hide-for-landscape 
            display: table-header-group !important

    tbody 
        &.show-for-portrait,
        &.hide-for-landscape 
            display: table-row-group !important

    tr 
        &.show-for-portrait,
        &.hide-for-landscape 
            display: table-row !important

    td 
        &.show-for-portrait,
        &.hide-for-landscape 
            display: table-cell !important

    th 
        &.show-for-portrait,
        &.hide-for-landscape 
            display: table-cell !important


.show-for-touch 
    display: none !important

.hide-for-touch 
    display: inherit !important

.touch 
    .show-for-touch 
        display: inherit !important

    .hide-for-touch 
        display: none !important

    table.show-for-touch 
        display: table !important

    thead.show-for-touch 
        display: table-header-group !important

    tbody.show-for-touch 
        display: table-row-group !important

    tr.show-for-touch 
        display: table-row !important

    td.show-for-touch,
    th.show-for-touch 
        display: table-cell !important

.show-for-sr
    +visibility(absolute, 1px, 1px, hidden, rect(1px, 1px, 1px, 1px))

.show-on-focus 
    +visibility(absolute, 1px, 1px, hidden, rect(1px, 1px, 1px, 1px))
    &:focus, 
    &:active
        +visibility(static, auto, auto, visible, auto)